<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/admin_user_style.css">
    <title>Admin panel</title>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark">
    <div class="container-fluid ">
        <span class="username">
            <span th:text="${admin.username}">Имя</span>
            <span class="user-info">
                <span> with roles: <span th:text="${admin.roles}">Роли</span></span>
            </span>
        </span>

        <form id="logoutForm" method="post" th:action="@{/logout}">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </div>
</nav>

<div class="container-fluid">
    <div class="sidebar">
        <div class="btn-group-vertical" role="group" aria-label="Basic example">
            <div th:each="role : ${admin.roles}">
                <button type="button" class="btn btn-primary role-button"
                        th:text="${role.name}"
                        th:data-link="${role.link}"
                        th:class="${(role.name == 'ADMIN' and #httpServletRequest.servletPath.contains('/admin'))
                        || (role.name == 'USER' and #httpServletRequest.servletPath.contains('/userinfo'))
                        ? 'btn btn-primary active role-button' : 'btn btn-link role-button'}"
                        onclick="location.href=this.dataset.link;"></button>
            </div>
        </div>
    </div>

    <div class="content">


        <h2>Admin panel</h2>

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true">Users table</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile" aria-selected="false">New user</a>
            </li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <p>
                <div class="card">
                    <div class="card-header">
                        <b>All users</b>
                    </div>

                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">FirstName</th>
                                <th scope="col">LastName</th>
                                <th scope="col">Age</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Edit</th>
                                <th scope="col">Delete</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.id}"></td>
                                <td th:text="${user.firstName}"></td>
                                <td th:text="${user.lastName}"></td>
                                <td th:text="${user.age}"></td>
                                <td th:text="${user.username}"></td>
                                <td>
                                    <span th:each="role : ${user.roles}" th:text="${role.name} + ' '"></span>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info edit-button"
                                            data-toggle="modal"
                                            data-target="#editUserModal"
                                            th:data-user-id="${user.id}">
                                        Edit
                                    </button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-info btn-danger"
                                            data-toggle="modal"
                                            data-target="#deleteUserModal"
                                            th:data-user-id="${user.id}">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                </p>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <p>
                <div class="card">
                    <div class="card-header">
                        <b>Add new user</b>
                    </div>
                    <form th:action="@{/add}" method="post" th:object="${addedUser}" class="form-group">
                        <div class="form-group">
                            <label for="firstName"><b>First name</b></label>
                            <input type="text" class="form-control" id="firstName"
                                   th:field="*{firstName}" placeholder="Имя" required/>
                            <div style="color:red" th:if="${#fields.hasErrors('firstName')}"
                                 th:errors="*{firstName}">Ошибка
                                имени
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="lastName"><b>Last name</b></label>
                            <input type="text" class="form-control" id="lastName"
                                   th:field="*{lastName}" placeholder="Фамилия" required/>
                            <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                                Ошибка фамилии
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="age"><b>Age</b></label>
                            <input type="number" min="0" max="127" class="form-control" id="age"
                                   th:field="*{age}" placeholder="Возраст" required/>
                            <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
                                Ошибка возраста
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Email/Username"><b>Email/Username</b></label>
                            <input type="email" class="form-control" id="Email/Username" th:field="*{username}"
                                   placeholder="Email/Username"
                                   required/>
                            <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                                Ошибка мыла
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password"><b>Password</b></label>
                            <input type="password" class="form-control" id="password" th:field="*{password}"
                                   placeholder="Пароль" required/>
                            <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                                Ошибка
                                пароля
                            </div>
                        </div>

                        <div class="form-group2">
                            <label for="roles"><b>Role</b></label>
                            <select multiple class="form-control" id="roles"
                                    th:name="'roles'"
                                    th:field="*{roles}">
                                <option th:each="role : ${roles}"
                                        th:id="'role_' + ${role.id}"
                                        th:value="${role.id}"
                                        th:text="${role.name}">
                                </option>
                            </select>
                        </div>
                        <br>
                        <button type="submit" class="btn btn-success">Add new user</button>
                    </form>
                </div>
                </p>
            </div>
        </div>


    </div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/update}" method="post" th:object="${editsUser}" class="form-group"
                      id="editUserForm">
                    <input type="hidden" th:field="*{id}">
                    <div class="form-group">
                        <label for="ID"><b>ID</b></label>
                        <input type="text" class="form-control" id="ID"
                               th:field="*{id}" readonly/>
                        <label for="firstName"><b>First name</b></label>
                        <input type="text" class="form-control" id="firstNameModal"
                               th:field="*{firstName}" placeholder="Имя" required/>
                        <div style="color:red" th:if="${#fields.hasErrors('firstName')}"
                             th:errors="*{firstName}">Ошибка
                            имени
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName"><b>Last name</b></label>
                        <input type="text" class="form-control" id="lastNameModal"
                               th:field="*{lastName}" placeholder="Фамилия" required/>
                        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                            Ошибка фамилии
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age"><b>Age</b></label>
                        <input type="number" min="0" max="127" class="form-control" id="ageModal"
                               th:field="*{age}" placeholder="Возраст" required/>
                        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
                            Ошибка возраста
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email/Username"><b>Email/Username</b></label>
                        <input type="email" class="form-control" id="Email/UsernameModal" th:field="*{username}"
                               placeholder="Email/Username"
                               required/>
                        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                            Ошибка мыла
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password"><b>Password</b></label>
                        <input type="password" class="form-control" id="passwordModal" th:field="*{password}"
                               placeholder="Пароль" required/>
                        <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
                            Ошибка пароля
                        </div>
                    </div>

                    <div class="form-group2">
                        <label for="roles"><b>Role</b></label>
                        <select multiple class="form-control" id="rolesModal"
                                th:name="'roles'"
                                th:field="*{roles}">
                            <option th:each="role : ${roles}"
                                    th:id="'role_' + ${role.id}"
                                    th:value="${role.id}"
                                    th:text="${role.name}">
                            </option>
                        </select>
                    </div>
                    <br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="editUserForm" class="btn btn-primary">Edit</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Delete User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form th:action="@{/delete}" method="post" th:object="${editsUser}" class="form-group"
                      id="deleteUserModalForm">
                    <input type="hidden" th:field="*{id}" id="userId">
                    <div class="form-group">
                        <label for="ID"><b>ID</b></label>
                        <input type="text" class="form-control" id="IDDelete"
                               th:field="*{id}" readonly/>
                        <label for="firstName"><b>First name</b></label>
                        <input type="text" class="form-control" id="firstNameModalDelete"
                               th:field="*{firstName}" placeholder="Имя" readonly/>
                        <div style="color:red" th:if="${#fields.hasErrors('firstName')}"
                             th:errors="*{firstName}">Ошибка
                            имени
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lastName"><b>Last name</b></label>
                        <input type="text" class="form-control" id="lastNameModalDelete"
                               th:field="*{lastName}" placeholder="Фамилия" readonly/>
                        <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">
                            Ошибка фамилии
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="age"><b>Age</b></label>
                        <input type="text" class="form-control" id="ageModalDelete"
                               th:field="*{age}" placeholder="Возраст" readonly/>
                        <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">
                            Ошибка возраста
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Email/Username"><b>Email/Username</b></label>
                        <input type="email" class="form-control" id="Email/UsernameModalDelete" th:field="*{username}"
                               placeholder="Email/Username" readonly/>
                        <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
                            Ошибка мыла
                        </div>
                    </div>

                    <div class="form-group2">
                        <label for="roles"><b>Role</b></label>
                        <select multiple class="form-control" id="rolesModalDelete"
                                th:name="'roles'"
                                th:field="*{roles}" readonly>
                            <option th:each="role : ${roles}"
                                    th:id="'role_' + ${role.id}"
                                    th:value="${role.id}"
                                    th:text="${role.name}">
                            </option>
                        </select>
                    </div>
                    <br>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="deleteUserModalForm" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

<script
        src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM="
        crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<script src="../static/editModal.js"></script>
<script src="../static/deleteModal.js"></script>


</body>
</html>