<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Список пользователей</title>
</head>
<body>
<h1>Список пользователей</h1>

<table border="1">
    <thead>
    <tr>
        <th>Имя пользователя</th>
        <th>Фамилия</th>
        <th>Email/Username</th>
        <th>Роли</th> <!-- Изменено на "Роли" -->
        <th>Удаление</th>
        <th>Изменение</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.username}"></td>
        <td>
            <span th:each="role : ${user.roles}" th:text="${role.name}"></span>
        </td>
        <td>
            <form th:action="@{/delete}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">Удалить</button>
            </form>
        </td>
        <td>
            <form th:action="@{/edit}" method="post" style="display:inline;">
                <input type="hidden" name="id" th:value="${user.id}"/>
                <button type="submit">Изменить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<form th:action="@{/add}" method="post" th:object="${user}">

    <label for="firstName">Имя:</label>
    <input type="text" id="firstName" th:field="*{firstName}" placeholder="Имя" required/>
    <div style="color:red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Ошибка имени</div>

    <label for="lastName">Фамилия:</label>
    <input type="text" id="lastName" th:field="*{lastName}" placeholder="Фамилия" required/>
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Ошибка фамилии</div>

    <label for="Email/Username">Email/Username:</label>
    <input type="email" id="Email/Username" th:field="*{username}" placeholder="Email/Username" required/>
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Ошибка мыла</div>

    <label for="password">Пароль:</label>
    <input type="password" id="password" th:field="*{password}" placeholder="Пароль" required/>
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Ошибка пароля</div>

    <br/>
    <label>Выберите роли:</label>
    <br/>
    <div th:each="role : ${roles}">
        <input type="checkbox" checked th:id="'role_' + ${role.id}"
               th:name="'roles'"
               th:value="${role.id}"/>
        <label th:for="'role_' + ${role.id}" th:text="${role.name}"></label><br/>
    </div>

    <button type="submit">Добавить пользователя</button>
</form>

<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-danger">Выйти</button>
</form>

</body>
</html>