<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Please Sign In</title>
    <style>
        .form-container {
            max-width: 400px;
            margin: 100px auto;
        }

        .form-control {
            margin-bottom: 0;
        }

        .header-title {
            text-align: left;
        }

        .btn {
            margin-top: 10px;
        }
    </style>
</head>

<body>
<div class="container form-container">
    <h1 class="h3 mb-3 font-weight-bold header-title">Please sign in</h1>

    <div th:if="${param.error}">
        Invalid username and password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <form th:action="@{/login}" method="post" class="form-signin">

        <input type="text" class="form-control" id="username" name="username" placeholder="Email address">

        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <button type="submit" class="btn btn-primary btn-block">Sign in</button>
    </form>
</div>
</body>
</html>