<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Твои данные</title>
</head>
<body>
<h1>Твои данные</h1>

<table border="1">
    <thead>
    <tr>
        <th>Имя пользователя</th>
        <th>Фамилия</th>
        <th>Email/Username</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${user}">
        <td th:text="${user.firstName}"></td>
        <td th:text="${user.lastName}"></td>
        <td th:text="${user.username}"></td>
    </tr>
    </tbody>
</table>

<form th:action="@{/logout}" method="post">
    <button type="submit" class="btn btn-danger">Выйти</button>
</form>

</form>

</body>
</html>